* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}
iframe{
        width: 100%;
    height: 100vh; /* or adjust accordingly */
    border: none;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.flapen-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0;
    width: 55%;
    z-index: 1000;
    position: sticky;
    top: 20px;
    margin: 0 auto;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 25%);
    border-radius: 50px;
    transition: width 0.4s ease, margin-top 0.4s ease;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
    height: 28px;
    overflow: hidden;
}

.logo img {
  width: 80px;
  transition: all 0.3s ease;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 15px;
}

.nav-menu ul li a:hover {
  color: #007BFF;
}
.container-flex{
    display: flex;
    align-items: center;
    gap: 30px;
}
.callBook{
    background-color: #A349A2;
    border: 1px solid #A349A2;
    padding: 7px 14px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.callBook:hover{
    background-color: #713371; 
    border-color: #713371;
    color: #fff;
}

.banner-container{
    background-image: url("../images/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(8px);
  -webkit-filter: blur(8px);
    height: 550px;
    position: relative;
    top: -73px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 33%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 33%, rgba(0, 0, 0, 0) 100%);
}
.banner-lg-txt{
    font-size: 50px;
    color: #09090b;
    text-align: center;
    font-weight: 600;
}
.banner-sm-txt{
    font-size: 18px;
    color: #52525b;
    text-align: center;
    font-weight: 500;
    margin: 5px 0;
}
.banner-btn{
    background-color: #A349A2;
    border: 1px solid #A349A2;
    padding: 10px 14px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
}
.banner-btn:hover{
    background-color: #713371; 
    border-color: #713371;
    color: #fff;
}
.banner-xs-txt{
    font-size: 15px;
    color: #71717a;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
    width: 500px;
}
.section1-title{
    font-size: 40px;
    color: #09090b;
    text-align: center;
    font-weight: 600;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}
.section1-title::after {
    content: '';
    position: absolute;
    left: 3%;
    bottom: 0;
    width: 45%;
    height: 3px;
    background-color: #A349A2;
    border-radius: 9999px;
}
.section1-lg-txt{
    font-size: 30px;
    color: #52525b;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
}
.section1-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 25px;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 40px;
}
.section1-card{
    background-color: #ffefff;
    padding: 30px;
    transition: all .3s ease 0s;
    width: 30vw;
}
.section1-card:hover{
    background-image: -webkit-linear-gradient(0deg, #e8d2e8, #a349a2);
    box-shadow: -14.142px 14.142px 20px 0 #9d9d9d80;
}
.section1-card-txt{
    color: #333;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
    text-align: center;
    transition: all .3s ease 0s;
}
.section1-card-para{
    color: #666;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    transition: all .3s ease 0s;
    text-align: center;
}
.section1-card:hover .section1-card-txt{
    color: #fff;
}
.section1-card:hover .section1-card-para{
    color: #fff;
}
.wedo-container{
    background-image: -webkit-linear-gradient(0deg, #e4e4e4, #ffefff);
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-top: 125px;
}
.wedo-title{
    font-size: 40px;
    color: #09090b;
    text-align: center;
    font-weight: 600;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.wedo-title::after{
    content: '';
    position: absolute;
    left: 1%;
    bottom: 0;
    width: 45%;
    height: 3px;
    background-color: #A349A2;
    border-radius: 9999px;
}
.wedo-flex{
    display: flex;
    align-items: normal;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.wedo-card{
    background-color: #fff;
    border-radius: 6px;
    padding: 30px 20px;
    position: relative;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    width: 20vw;
}
.wedo-title-card{
    color: #333;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    text-transform: none;
}
.wedo-para-card{
    color: #666;
    font-size: .85rem;
    margin-top: 10px;
}
.wedo-circle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #A349A2;
    margin-bottom: 20px;
}
.wedo-circle img{
    width: 23px;
}
.wedo-card:hover{
    background-color: #fdd5fd;
    box-shadow: -14.142px 14.142px 20px 0 #9d9d9d80;
    cursor: pointer;
    transform: translateY(-7px);
}
.brand-txt-wrap{
    background-color: #e6ccf0;
    width: 45%;
    position: absolute;
    z-index: 10;
    padding: 35px;
    margin-top: 80px;
    left: 8%;
    box-shadow: -14.142px 14.142px 20px 0 #9d9d9d80;
}
.brand-container{
    position: relative;
    height: 90vh;
}
.brand-image img{
    width: 45%;
    position: absolute;
    right: 10%;
    margin-top: 9%;
}
.brand-title {
    font-size: 40px;
    color: #09090b;
    text-align: center;
    font-weight: 600;
    max-width: 355px;
    margin: 0 auto;
    margin-top: 125px;
    position: relative;
}
.brand-title::after {
    content: '';
    position: absolute;
    left: 3%;
    bottom: 0;
    width: 45%;
    height: 3px;
    background-color: #A349A2;
    border-radius: 9999px;
}
.brand-txt1{
    color: #52525b;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    text-transform: none;
    margin-bottom: 12px;
}
.brand-txt2{
    color: #09090b;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    text-transform: none;
    font-style: italic;
}
.brand-abstract{
    position: absolute;
    left: 7%;
    top: 6em;
}
.chooseUs-section{
    background-image: -webkit-linear-gradient(0deg, #e4e4e4, #ffefff, #e4e4e4);
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 60px;
    margin-top: 125px;
}
.chooseUs-title {
    font-size: 40px;
    color: #09090b;
    text-align: center;
    font-weight: 600;
    max-width: 330px;
    margin: 0 auto;
    position: relative;
}
.chooseUs-title::after {
    content: '';
    position: absolute;
    left: 3%;
    bottom: 0;
    width: 45%;
    height: 3px;
    background-color: #A349A2;
    border-radius: 9999px;
}
.chooseUs-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 10%;
}
.chooseUs-card-wrap{
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 18vw;
    height: 18vh;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 25%);
}
.chooseUs-circe-lg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -28%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.orange{
   background-color: #FE8F4A;
}
.purple{
   background-color: #C76EE3;
}
.yellow{
   background-color: #FFCE5E;
}
.blue{
   background-color: #70D6C5;
}
.pink{
   background-color: #DAA5E2;
}
.chooseUs-circle-wh{
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chooseUs-card-txt{
    color: #09090b;
    font-size: 14px;
    margin-top: 18px;
    text-align: center;
    font-weight: 500;
}
.chooseUs-circle-sm{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
}
.aboutUs-bg{
    margin-top: 125px;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    align-items: flex-start;
    margin-left: 70px;
    margin-right: 70px;
}
.aboutUs-bg img{
    width: 100%;
    height: 95%;
}
.aboutUs-title {
    font-size: 40px;
    color: #09090b;
    text-align: center;
    font-weight: 600;
    max-width: 312px;
    position: relative;
}
.aboutUs-title::after {
    content: '';
    position: absolute;
    left: 3%;
    bottom: 0;
    width: 45%;
    height: 3px;
    background-color: #A349A2;
    border-radius: 9999px;
}
.aboutUs-txt{
    color: #09090b;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    text-transform: none;
    font-style: italic;
    margin-top: 32px;
}
.txt-wrap{
    padding-left: 80px;
}
.aboutUs-txt1{
    color: #52525b;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    text-transform: none;
    margin-bottom: 12px;
    margin-top: 18px;
    text-align: justify;
}
.aboutUs-txt2{
    color: #A349A2;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    text-transform: none;
    font-style: italic;
    margin-top: 32px;
}
.ready-container{
    background-image: url(../images/readytobuild.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    -webkit-filter: blur(8px);
    background-size: cover;
    margin-top: 125px;
}
.ready-wh-container{
    width: 1400px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
/*    transform: translate(-50%, -50%);*/
}
.ready-txt1{
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-weight: 600;
}
.ready-txt2{
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 5px 0;
}
.ready-btn{
    background-color: #fff;
    border: 1px solid #fff;
    padding: 10px 14px;
    border-radius: 10px;
    color: #A349A2;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.ready-btn:hover{
    background-color: #A349A2;
    border: 1px solid #A349A2;
    color: #fff;
    cursor: pointer;
}
.footer-wrap{
    background-color: #09090b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.fade-in-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in-left.visible {
    opacity: 1;
    transform: translateX(0);
}
.fade-in-right {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}
#zoomSec{
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5); 
  animation: zoomIn 2s forwards;
  animation-delay: 0.5s;
}
 @keyframes zoomIn {
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.banner-textarea{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fade-in-top {
  opacity: 0;
/*  transform: translateY(-100px);*/
}

.fade-in-top.visible {
  animation: fadeInTop 1s ease-out forwards;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 100px));
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.6s;
}
.delay-4 {
  animation-delay: 0.8s;
}
.delay-5 {
  animation-delay: 0.10s;
}
.delay-6 {
  animation-delay: 0.12s;
}
.delay-7 {
  animation-delay: 0.14s;
}
.delay-8 {
  animation-delay: 0.16s;
}
.delay-9 {
  animation-delay: 0.18s;
}
.delay-10 {
  animation-delay: 0.20s;
}

.fade-in-top-1 {
  opacity: 0;
  transform: translateY(-100px);
}

.fade-in-top-1.visible {
  animation: fadeInTop-1 1s ease-out forwards;
}

@keyframes fadeInTop-1 {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#mbHeader{
    display: none;
}

/*  Mobile responsive  */

@media only screen and (max-width: 768px) {
    
    body,html{
        overflow-x: hidden;
    }
    .banner-textarea{
        width: 100%;
        padding: 0 10px;
    }
    .banner-lg-txt{
        font-size: 40px;
    }
    .banner-xs-txt{
        width: 100%;
    }
    .section1-title::after{
        left: 32%;
        width: 20%;
    }
    .section1-grid{    
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    .section1-card{
        width: 100%;
    }
    .section1-title, .wedo-title, .brand-title, .chooseUs-title, .aboutUs-title{
        font-size: 35px;
    }
    .wedo-title::after, .aboutUs-title::after,.chooseUs-title::after{
        left: 10%;
    }
    .wedo-card{
        width: 100%;
    }
    .wedo-flex{
        padding: 0 20px;
    }
    .brand-image img{
        display: none;
    }
    .brand-txt-wrap{
        width: 100%;
        position: relative;
        left: auto;
    }
    .brand-container{
        padding: 0 20px;
    }
    .section1-title, .wedo-container, .brand-title, .chooseUs-section, .aboutUs-bg, .ready-container{
        margin-top: 50px;
    }
    .brand-title::after{
        left: 8%;
    }
    .chooseUs-card-wrap{
        width: 80%;
    }
    .chooseUs-flex{  
        margin-top: 30%;
        gap: 100px;
    }
    .chooseUs-circe-lg{
        top: -23%;
    }
    .aboutUs-bg{
        grid-template-columns: 1fr;
        margin-left: 30px;
        margin-right: 30px;
    }
    .txt-wrap {
        padding-left: 0;
        padding-top: 20px;
    }
    .aboutUs-txt2{
        text-align: center;
    }
    .ready-wh-container{
        max-width: 100%;
        padding: 0;
        box-sizing: border-box;
    }
    .ready-txt1{
        font-size: 40px;
    }
    #mainHeader{
        display: none;
    }
    #mbHeader{
        display: block;
        width: 100%;
    }
}


/* Mobile Menu */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 20;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .mblogo {
  display: block;
  float: left;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 260px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.mblogo img{
    width: 115px;
    padding-top: 10px;
    padding-left: 10px;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/*
img {
  max-width: 100%;
  height: auto;
}
*/

